<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <title>{{nombrepagina}}</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min_2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Newsletter-Subscription-Form.css">
</head>

<body>

    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">PickME herramienta educativa</h1>
                        <p class="text-center"><span class="by">by</span> <a href="#">Alejandro poyatos lópez</a><span class="date">6 abril, 2021</span></p><img class="img-fluid" src="assets/img/desk.jpg"></div>
                    <div class="text">
                        <p>PickME es un proyecto nacido de la necesidad de tener una herramienta educativa que permita crear dinámicamente varios tests de usabilidad tipo A/B para comparar distintas interfaces al mismo tiempo, de manera que el usuario da
                            un feedback mediante respuesta alternativa a traves de varios pasos.</p>
                        <p>La herramienta cuenta con licencia de uso educativa libre para toda la UGR debido a que se realizo en carácter de Trabajo de Fin de Grado y gracias a la supervisión e idea original de miembros de la comunidad educativa de la Universidad
                            de Granada.</p>
                        <h2>Autor</h2>
                        <p>A nivel personal yo, Alejandro, soy un alumno de último año, estudiante del grado de Ingeniería Informática de la Universidad de Granada.</p>
                        <figure><img class="figure-img" src="assets/img/beach.jpg"></figure>
                        <p>Para cualquier tipo de incidencia o propuesta pueden contactar conmigo en mis redes sociales adjuntas o con la universidad de Granada, cuyo enlace esta en la parte de soporte.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>
