<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <title>{{nombrepagina}}</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min_2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Newsletter-Subscription-Form.css">
</head>

<body>
    <div>
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light navbar-expand-md navigation-clean">
                    <div class="container"><a class="navbar-brand" href="#">Producto A</a>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item" role="presentation"></li>
                            </ul>
                        </div><img src="assets/img/microsoft-80660_960_720.png" style="width: 50px;"></div>
                </nav>
            </div>
        </div>
        <div class="header-blue" style="background-image: url(&quot;assets/img/fondo_encuestas_altmini.png&quot;);">
            <hr style="margin-top: 0px;margin-bottom: 25px;">
            <p class="text-center" style="font-size: 17px;color: rgb(255,255,255);margin-bottom: 67px;margin-left: 10px;"><strong>¿Recomendaría esta producto a sus amigos?</strong></p>
            <div class="row">
                <div class="col text-center"><button class="btn btn-light btn-block btn-sm text-truncate text-left border rounded action-button" type="button" style="background-color: rgba(0,0,0,0.05);margin-right: 10px;margin-left: 10px;padding: 10px;width: 326px;">Sí&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i class="fa fa-check-circle-o"></i></button></div>
            </div>
            <div class="row">
                <div class="col text-center"><button class="btn btn-light btn-block btn-sm text-truncate text-left border rounded action-button" type="button" style="background-color: rgba(0,0,0,0.05);margin-right: 10px;margin-left: 10px;padding: 10px;width: 326px;">No&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<i class="fa fa-check-circle-o"></i></button></div>
            </div>
            <div class="row">
                <div class="col text-center"><button class="btn btn-primary border rounded" type="button" style="margin-top: 34px;background-color: #25f0bf;color: rgb(0,0,0);margin-bottom: 165px;">Siguiente&nbsp; &nbsp;<i class="fa fa-arrow-right"></i>&nbsp;</button></div>
            </div>
            <div class="row">
                <div class="col text-center" style="margin-top: 131px;"><button class="btn btn-primary" type="button"><i class="fa fa-close"></i>&nbsp;Terminar intento&nbsp;</button></div>
            </div>
        </div>
    </div>
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">Sobre nosotros</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Contacto</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Términos de uso</a></li>
                        <li class="list-inline-item"></li>
                        <li class="list-inline-item"></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© PickME 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>
