<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{nombrepagina}}</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Newsletter-Subscription-Form.css">
    <script type = "text/javascript" src="./js/botonShare.js"></script>
    <script type = "text/javascript" src="./js/cambiarRol.js"></script>
</head>

<body>
    <div>

        <div class="header-blue" style="background-image: url(&quot;assets/img/fondo_encuestas_altmini.png&quot;);">
            <div class="row">
                <div class="col">
                    <p class="text-center" style="color: rgb(255,255,255);font-size: 22px;margin-top: 10px;">Nombre del PickME:<br>{{nombrepick}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-center" style="color: rgb(255,255,255);font-size: 18px;margin-bottom: 32px;">Tiempo restante estimado de encuesta:&nbsp; {{estimado}}&nbsp; minutos</h5>
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px">
              <div class="col text-center">
                <button onclick="copyToClipboard()" class="btn btn-primary" type="button"><i class="fa fa-share-alt"></i>  Compartir</button>
              </div>
            </div>
            <div class="row">
              {% for al in alternativas%}
                <div class="col">
                    <a href="{{al['urlSitio']}}" target="_blank"><p class="text-center" style="color: rgb(255,255,255);font-size: 22px;margin-top: 10px">{{al["nameAlternativa"]}}</p></a>
                    <p class="text-center"><img class="rounded-circle mr-2" width="60" height="60" src="{{al['urlLogo']}}"></p>
                </div>
                {% endfor %}
            </div>
            <hr style="margin-top: 0px;margin-bottom: 25px;">
            <p class="text-center" style="font-size: 22px;color: rgb(255,255,255);margin-bottom: 13px;margin-left: 10px;"><strong>Este test consta de los siguientes tests:</strong></p>
            <div class="row">
                <div class="col">
                  {% set i = 0 %}
                  {% for t in nombres_tests %}
                  <form action="./responder_encuesta.php" method="post" id="send_test_{{i}}">
                    <input name="id" type="hidden" value={{idpick}}>
                    <input name="idtest" type="hidden" value={{t['idTest']}}>
                    <input name="rol" type="hidden" value='Predeterminado'>
                    <a href="#" onclick="document.getElementById('send_test_{{i}}').submit()" >
                    <p class="text-center" style="color: rgb(255,255,255);font-size: 20px;overflow: hidden;white-space: initial">{{t['nameTest']}}</p>
                    </a>
                  </form>
                    {% set i = i+1 %}
                  {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center" style="font-size: 22px;color: rgb(255,255,255);margin-bottom: 14px;margin-left: 10px;"><strong>Opcionalmente puede jugar en un rol</strong></p>
                    <div class="row">
                        <div class="col">
                          <div class="col text-center"><button class="btn btn-primary" id="rol_1" onclick="rolear(1)" type="button" style="width: 40%;margin-bottom: 14px;overflow: hidden;white-space: initial">Predeterminado</button></div>
                          <div class="col text-center"><button class="btn btn-primary" id="rol_2" onclick="rolear(2)" type="button" style="width: 40%;margin-bottom: 14px;overflow: hidden;white-space: initial">Poco experimentado</button></div>
                          <div class="col text-center"><button class="btn btn-primary" id="rol_3" onclick="rolear(3)" type="button" style="width: 40%;margin-bottom: 14px;overflow: hidden;white-space: initial">Con cierta experiencia</button></div>
                          <div class="col text-center"><button class="btn btn-primary" id="rol_4" onclick="rolear(4)" type="button" style="width: 40%;margin-bottom: 14px;overflow: hidden;white-space: initial">Especialista</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col text-center"><a href="./index.php"><button class="btn btn-primary border rounded" type="button" style="margin-top: 27px;background-color: #25f0bf;color: rgb(0,0,0);">Volver&nbsp; &nbsp;<i class="fa fa-home"></i>&nbsp;</button></a></div>
            </div>
            {% if logueado %}
            <div class="row">
              <div class="col text-center"><a href="./dashboard.php"><button class="btn btn-primary border rounded" type="button" style="margin-top: 27px;background-color: #25f0bf;color: rgb(0,0,0);">Volver al dashboard&nbsp;<i class="fa fa-home"></i>&nbsp;</button></a></div>
            </div>
            {% endif %}
            {% if informe %}
            <div class="row">
              <div class="col text-center"><a href="./responder_informe.php?id={{idpick}}"><button class="btn btn-primary border rounded" type="button" style="margin-top: 27px;background-color: #25f0bf;color: rgb(0,0,0);margin-bottom: 150px;">Informe&nbsp; &nbsp;<i class="fa fa-file"></i>&nbsp;</button></a></div>
            </div>
            {% endif %}
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>
